<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.px.mapper.OrderMapper">

    <insert id="insertCar" parameterType="com.px.pojo.Car">
        insert into car (productName, productPrice, productUrl,userName) value (#{productName},#{productPrice},#{productUrl},#{userName})
    </insert>
    <delete id="deleteByCarId">
        delete from car where id = #{id}
    </delete>
    <delete id="deleteByUserName">
        delete from car where userName = #{userName}
    </delete>
    <select id="selectByUserName" resultType="com.px.pojo.Car">
        select * from car where userName=#{userName}
    </select>
    <select id="getAllOrder" resultType="com.px.pojo.Order">
        select userName,SUM(productPrice) as total
        FROM car
        GROUP BY userName
    </select>
</mapper>